
/* base 16px  */

*, *:before, *:after { box-sizing: border-box; font-weight: inherit;}

body {
	font-family: system-ui, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5; /* 24 / 16 */
	color: #3c525a;
	min-width: 360px;
	margin: 0;
}

header { background-color: #f5f5f5;}

h1,h2,h3 {
	line-height: 1.2;
	margin-bottom: 16px;
}
h1,.h1 { font-size: 32px;}
h2,.h2 { font-size: 24px;}
h3,.h3 { font-size: 20px;}

strong { font-weight: 700;}

a,
button {
	display: inline;
	padding: 0;
	margin-bottom: 0;
	border: 0;
	background-image: none;
	background-color: transparent;
	text-align: center;
	cursor: pointer;
	color: #3e83bb;
	text-decoration: underline;
	font-size: inherit;
}

a:hover,
button:hover,
a:focus,
button:focus {
	outline: 0;
	opacity: 0.8;
}

label {display: block;}

hr {
	margin-top: 0;
	border: 0;
	border-bottom: 2px solid #ccc;
}

img {
	display: inline-block;
	max-width: 100%;
	height: auto;
}

ul, ol { margin-top: 0; margin-bottom: 16px;}
ul { list-style-type: disc;}

code {
	display: inline-block;
	padding-left: 8px;
	padding-right: 8px;
	font-family: consolas, monospace;
	background-color: #eee;
}

pre {
	margin-top: 0;
	margin-bottom: 16px;
	padding: 0;
	display: block;
	tab-size: 2;
}
pre code { display: block; padding: 18px;}

[disabled] { pointer-events: none; opacity: 0.5;}

.container {
	max-width: 640px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 18px;
	padding-right: 18px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -18px;
	margin-right: -18px;
}

.col {
	width: 100%;
	padding-left: 18px;
	padding-right: 18px;
}

@media (min-width: 480px) {
	.col-xs-6 { width: 50%;}
}
@media (min-width: 768px) {
	.col-sm-lg { width: 33.33%;}
	.col-sm-6 { width: 50%;}
	.col-sm-8 { width: 66.66%;}
}
@media (min-width: 992px) {
	.col-md-lg { width: 33.33%;}
	.col-md-6 { width: 50%;}
	.col-md-8 { width: 66.66%;}
}
@media (min-width: 1200px) {
	.col-lg-3 { width: 25%;}
	.col-lg-lg { width: 33.33%;}
	.col-lg-6 { width: 50%;}
	.col-lg-8 { width: 66.66%;}
	.col-lg-9 { width: 75%;}
}

.form-control {
	display: block;
	width: 100%;
	height: 40px;
	padding: 6px 18px;
	font-size: 16px;
	line-height: 1.5;
	color: #3c525a;
	background-color: #f7f7f7;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 6px;
}
.form-control:focus { outline: 0; border-color: #7e9fac;}

.btn {
	display: inline-block;
	vertical-align: middle;
	padding: 6px 18px;
	line-height: 1.5;
	font-size: inherit;
	color: #3c525a;
	text-decoration: none;
	border-radius: 6px;
	background-color: #f7f7f7;
	border: 2px solid #ccc;
}
.btn:hover,
.btn:focus {
	border-color: #7e9fac;
}

/* atomic */
	.co-gray { color: #798086;}

	.d-f     { display: flex;}
	.d-b     { display: block;}
	.d-n     { display: none;}
	.d-ib    { display: inline-block;}

	.ai-s    { align-items: flex-start;}
	.ai-c    { align-items: center;}
	.ai-e    { align-items: flex-end;}

	.jc-s    { justify-content: flex-start;}
	.jc-c    { justify-content: center;}
	.jc-e    { justify-content: flex-end;}

	.fw-w    { flex-wrap: wrap;}
	.fg-1    { flex-grow: 1;}

	.m-0      { margin: 0;}
	.mb-0     { margin-bottom: 0;}
	.mb-sm    { margin-bottom: 8px;}
	.mb       { margin-bottom: 16px;}
	.mb-lg    { margin-bottom: 24px;}
	.mb-xl    { margin-bottom: 32px;}
	.ml-auto  { margin-left: auto;}
	.mr-auto  { margin-right: auto;}

	.p-0      { padding: 0;}
	.p-sm     { padding: 8px;}
	.p        { padding: 16px;}
	.p-lg     { padding: 24px;}
	.p-xl     { padding: 32px;}

	.pt-0     { padding-top: 0;}
	.pt-sm    { padding-top: 8px;}
	.pt       { padding-top: 16px;}
	.pt-lg    { padding-top: 24px;}
	.pt-xl    { padding-top: 32px;}

	.pb-0     { padding-bottom: 0;}
	.pb-sm    { padding-bottom: 8px;}
	.pb       { padding-bottom: 16px;}
	.pb-lg    { padding-bottom: 24px;}
	.pb-xl    { padding-bottom: 32px;}

	.ta-l    { text-align: left;}
	.ta-c    { text-align: center;}
	.ta-l    { text-align: right;}

	.tt-u    { text-transform: uppercase;}
/* atomic end */
